<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/rabbit
                http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">
   <!-- 连接服务配置  -->
   <rabbit:connection-factory id="rabbitConnectionFactory"
		host="${mq.host}" username="${mq.username}" password="${mq.password}" 
		port="${mq.port}" virtual-host="${virtual.host}" />

   <rabbit:admin connection-factory="rabbitConnectionFactory"/>

   <!-- queue 队列声明-->
   <rabbit:queue id="message-queue" durable="true" auto-delete="false" exclusive="false" name="message-queue"/>

   <!-- exchange queue binging key 绑定 -->
    <rabbit:direct-exchange name="my-mq-exchange" durable="true" auto-delete="false" id="my-mq-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="message-queue" key="message-queue"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

	<!-- spring template声明-->
    <rabbit:template exchange="my-mq-exchange" id="amqpTemplate"  connection-factory="rabbitConnectionFactory" />
    
</beans>