/* Move down content because we have a fixed navbar that is 50px tall */
html, body {
    height: 100%;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}
/* Sidebar */
.site-sidebar {
    top:50px;
    bottom: 0;
    left: 0;
    width: 80px;
    position: fixed!important;
    z-index: 1000;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.site-small-span {
    padding-right: 2px;
}

/* Main area of content in the right of the page */
.main-content {
    margin: 50px 0 0 80px;
    padding: 25px;
}